<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Province</h1>
<a th:href="@{/}">Index</a>
<a th:href="@{/provinces}">Province list</a>

    <form th:action="@{/create-province}" th:object="${province}" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
        </table>
        <input type="submit" value="Create">
    </form>
</body>
</html>