<h3 class="text-center">Create Customer</h3>
<form [formGroup]="customerForm" (ngSubmit)="getCustomerValue()">
  <div class="form-group">
    <label>ID: </label>
    <input formControlName="id" class="form-control" type="number">
    <div class="alert alert-danger" *ngIf="customerForm.get('id').hasError('required') && customerForm.get('id').touched">Not blank!</div>
    <div class="alert alert-danger" *ngIf="customerForm.get('id').hasError('min') && customerForm.get('id').touched">ID must be greater than 0</div>
  </div>
  <div class="form-group">
    <label>Name: </label>
    <input formControlName="name" class="form-control" type="text">
    <div class="alert alert-danger" *ngIf="customerForm.get('name').invalid && customerForm.get('name').touched">Not blank!</div>
  </div>
  <div class="form-group">
    <label>Type Customer: </label>
    <select formControlName="typeCustomer" class="form-control">
      <option *ngFor="let typeCustomer of typeCustomers" [ngValue]="typeCustomer">{{typeCustomer.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="customerForm.get('typeCustomer').invalid && customerForm.get('typeCustomer').touched">Not blank!</div>
  </div>
  <div class="form-group">
    <label>Date Of Birth: </label>
    <input formControlName="dateOfBirth" class="form-control" type="date">
    <div class="alert alert-danger" *ngIf="customerForm.get('dateOfBirth').invalid && customerForm.get('dateOfBirth').touched">Not blank!</div>
  </div>
  <div class="form-group">
    <label>ID Card: </label>
    <input formControlName="iDCard" class="form-control" type="text">
    <div class="alert alert-danger" *ngIf="customerForm.get('iDCard').invalid && customerForm.get('iDCard').touched">Not blank!</div>
  </div>
  <div class="form-group">
    <label>Email: </label>
    <input formControlName="email" class="form-control" type="text">
    <div class="alert alert-danger" *ngIf="customerForm.get('email').hasError('required') && customerForm.get('email').touched">Not blank!</div>
    <div class="alert alert-danger" *ngIf="customerForm.get('email').hasError('email') && customerForm.get('email').touched">Email invalid!</div>
  </div>
  <div class="form-group">
    <label>Phone: </label>
    <input formControlName="phone" class="form-control" type="text">
    <div class="alert alert-danger" *ngIf="customerForm.get('phone').hasError('required') && customerForm.get('phone').touched">Not blank!</div>
<!--    <div class="alert alert-danger" *ngIf="customerForm.get('phone').hasError('pattern') && customerForm.get('phone').touched">Phone invalid!</div>-->
  </div>
  <div class="form-group">
    <label>Address: </label>
    <input formControlName="address" class="form-control" type="text">
    <div class="alert alert-danger" *ngIf="customerForm.get('address').invalid && customerForm.get('address').touched">Not blank!</div>

  </div>
  <div class="mt-2">
    <input type="submit" class="btn btn-primary" value="Create">
  </div>
</form>
