<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<a th:href="@{/create}">Create User</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Age</th>
        <th></th>
        <th></th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
            <td><a th:href="@{/edit-user/__${user.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-user/__${user.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>