<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/">Blog List</a>
</p>
<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}" />
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}" /></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea th:field="*{content}" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category">
                    <option th:each="p : ${category}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{category.id})">
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Edit Blog">
</form>
</body>
</html>