<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">-->

</head>
<body >


<div th:replace="~{/layout :: navbar}"></div>
<div class="container-fluid">
    <div class="row d-flex">
        <a th:href="@{/blog/create}" class="mr-3 ml-auto mt-3 mb-3">
            <button type="button" class="btn btn-primary">Bài viết mới</button>
        </a>
        <!--        <h3 th:if="${successMsg}" th:text="${successMsg}" style="color: red"></h3>-->

    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="pl-1 pr-1 text-center" style="width: 10%">STT</th>
                    <th scope="col" class="text-center" style="width: 30%">Tiêu đề</th>
                    <th scope="col" class="text-center" style="width: 40%">Nội dung</th>
                    <th scope="col" class="text-center" style="width: 20%">Action</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post, index : ${blogs}">
                    <td th:text="${index.count}" class="" style="text-overflow: ellipsis"></td>
                    <td>
                        <a th:text="${post.getTitle()}"></a>
                    </td>
                    <td>
                        <a th:text="${post.getContent()}"></a>
                    </td>
                    <td>
                        <a th:href="@{/blog/{id}/edit(id=${post.getId()})}">
                            <button class="btn btn-warning">Chỉnh sửa</button>
                        </a>
                        <a th:href="@{/blog/{id}/delete(id=${post.getId()})}">
                            <button class="btn btn-warning">Xóa</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="~{layout::footer}">
</div>
</body>
</html>